# My home setup
#
# +-------+
# | HDMI  |
# | -A-1  |
# |       | +--------------------+
# |       | |                    |
# |  Sub  | |   HDMI-A-2: Main   |
# |       | |                    |
# +-------+ +--------------------+
#
# Rotate the sub display
output HDMI-A-1 pos 1080 480
output HDMI-A-2 transform 90
output HDMI-A-2 pos 0 0

output HDMI-A-1 bg ~/.local/share/backgrounds/main.jpg fill
output HDMI-A-2 bg ~/.local/share/backgrounds/sub.jpg fill

