# My home setup
#
# +-------+
# | HDMI  |
# | -A-1  |
# |       | +--------------------+
# |       | |                    |
# |  Sub  | |   HDMI-A-2: Main   |
# |       | |                    |
# +-------+ +--------------------+
#
# Rotate the sub display
output HDMI-A-1 transform 90
output HDMI-A-1 pos 0 0
output HDMI-A-2 pos 1080 480

output HDMI-A-1 bg /usr/local/share/backgrounds/sub.jpg fill #2E3440
output HDMI-A-2 bg /usr/local/share/backgrounds/main.jpg fill #2E3440

